.first-page{
    background: url(image/background1.jpg) no-repeat center, #222B32;
    background-size: 100%;
}
.first{
    display: flex;
    flex-direction: row;
}
.header{
    margin-left: 282.5px;
}
.header-text{
    color: azure;
    margin-left: 30px;
    text-decoration: none;
}
#logo{
    margin-top: 40px;
    margin-left: 30px;
    width: 186px;
    height: 32px;
    left: 10px;
    top: 10px;
}
#social{
    margin-top: 50px;
    margin-left: 270.54px;
}
#twitter{
    width: 30.99px;
    height: 30.99px;
}
#fb{
    width: 30.99px;
    height: 30.99px;
}
#linkedin{
    width: 30.99px;
    height: 30.99px;
}
h1{
    width: 673.33px;
    height: 174px;
    left: 49.75px;
    top: 0px;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.h1{
    font-size: 50px;
    margin-bottom: 5px;
    color: azure;
}
.more{
    margin-bottom: 0px;
    color: azure;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    background-color: #2091F9;
    border-radius: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
    min-width:136px ;
    min-height: 30px;
}
#first-button{
    margin-top: 70px;
}
.h3{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 25px;
}
.more-info-2{
    margin-left: 30px;
}
.second-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hihi{
    width: 50%;
    height: 50%;
}
.third-page{
    display: flex;
    flex-direction: row;
    margin-left: 250px;
}
.img{
    margin-left: 100px;
}
.fourth-page{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}
.subs{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 35px;
}
.fifth-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more-info-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seventh-page{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #252b42;
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}
.eight-page{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-us{
    display: flex;
    flex-direction: row;
    align-items: center;
}